<div class="row">
  <div class="col-md-4">
    <h4>Photometry</h4>
  </div>
  <div class="col-md-8">
    <a href="{% url 'pipeline:mars-datums' %}?target_id={{ target.id }}" class="btn btn-primary mr-3" title="Fetch Photometry">
      Fetch photometry from MARS
    </a>
    <a href="{% url 'dataproducts:update-reduced-data' %}?target_id={{ target.id }}" class="btn btn-primary" title="Update Targets">
      Check for new data
    </a>
  </div>
</div>
<div class="light-curve">
  {{ plot|safe }}
</div>
