<p>External Links</p>
<ul>
    <li><a target="_blank" href="https://mars.lco.global/?objectId={{ target.name }}">MARS</a></li>
    <li><a target="_blank" href="https://alerce.online/object/{{ target.name }}">ALeRCE</a></li>
    <li><a target="_blank" href="https://lasair.roe.ac.uk/object/{{ target.name }}/">Lasair</a></li>
    <li><a target="_blank" href="https://www.wis-tns.org/search?&ra={{ target.ra }}&decl={{ target.dec }}&radius=1&coords_unit=arcsec">TNS</a></li>
    <li><a target="_blank" href="https://antares.noirlab.edu/loci?query=%7B%22currentPage%22%3A1,%22filters%22%3A%5B%7B%22type%22%3A%22query_string%22,%22field%22%3A%7B%22query%22%3A%22%2a{{ target.name }}%2a%22,%22fields%22%3A%5B%22properties.ztf_object_id%22,%22locus_id%22%5D%7D,%22value%22%3Anull,%22text%22%3A%22ID%20Lookup%3A%20ZTF20acbcfaa%22%7D%5D,%22sortBy%22%3A%22properties.newest_alert_observation_time%22,%22sortDesc%22%3Atrue,%22perPage%22%3A25%7D">Antares</a></li>
</ul>
